mixin services(id)
    +b.SECTION.services(id='#{id}')
        +inner
            +e.heading 
                +title Услуги
            +e.lists
                +e.column
                    +e.list-title 
                        span Физическим лицам
                    +e.list
                        each service in services_fiz
                            if (service.inner_services)
                                +e.item(class='hasInner' itemscope itemtype='http://schema.org/Service')
                                    if (service.link_modal)
                                        +e.A.link(href="#{service.link_modal}" data-target="#{service.link_modal}" data-service='#{service.text}' data-button='#{service.modal_button}' data-toggle='modal' title='Заказать')
                                            +e.label(itemprop='name')= service.text
                                            +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                span(itemprop='price')= service.price
                                    else 
                                        +e.A.link(href="#{service.link_about}" itemprop='sameAs' content='#{service.link_about}' title='Подробнее')
                                            +e.label(itemprop='name')= service.text
                                            +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                span(itemprop='price')= service.price
                                +e.UL.inner-list
                                    each innerService in service.inner_services
                                        +e.LI.inner-item(itemscope itemtype='http://schema.org/Service')
                                            if (innerService.link_modal)
                                                +e.A.link(href="#{innerService.link_modal}" data-target="#{innerService.link_modal}" data-service='#{innerService.text}' data-button='#{innerService.modal_button}' data-toggle='modal' title='Заказать')
                                                    +e.inner-label(itemprop='name')= innerService.text
                                            else 
                                                +e.A.link(href="#{innerService.link_about}" itemprop='sameAs' content='#{innerService.link_about}' title='Подробнее')
                                                    +e.label(itemprop='name')= innerService.text
                                                    +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                        span(itemprop='price')= innerService.price
                            else    
                                +e.item(itemscope itemtype='http://schema.org/Service')
                                    if (service.link_modal)
                                        +e.A.link(href="#{service.link_modal}" data-target="#{service.link_modal}" data-service='#{service.text}' data-button='#{service.modal_button}' data-toggle='modal' title='Заказать')
                                            +e.label(itemprop='name')= service.text
                                            +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                span(itemprop='price')= service.price
                                    else 
                                        +e.A.link(href="#{service.link_about}" itemprop='sameAs' content='#{service.link_about}' title='Подробнее')
                                            +e.label(itemprop='name')= service.text
                                            +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                span(itemprop='price')= service.price
                +e.column
                    +e.list-title 
                        span Юридическим лицам
                    +e.list
                        each service in services_ur
                            if (service.inner_services)
                                +e.item(class='hasInner' itemscope itemtype='http://schema.org/Service')
                                    if (service.link_modal)
                                        +e.A.link(href="#{service.link_modal}" data-target="#{service.link_modal}" data-service='#{service.text}' data-button='#{service.modal_button}' data-toggle='modal' title='Заказать')
                                            +e.label(itemprop='name')= service.text
                                            +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                span(itemprop='price')= service.price
                                    else 
                                        +e.A.link(href="#{service.link_about}" itemprop='sameAs' content='#{service.link_about}' title='Подробнее')
                                            +e.label(itemprop='name')= service.text
                                            +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                span(itemprop='price')= service.price
                                +e.UL.inner-list
                                    each innerService in service.inner_services
                                        +e.LI.inner-item(itemscope itemtype='http://schema.org/Service')
                                            if (innerService.link_modal)
                                                +e.A.link(href="#{innerService.link_modal}" data-target="#{innerService.link_modal}" data-service='#{innerService.text}' data-button='#{innerService.modal_button}' data-toggle='modal' title='Заказать')
                                                    +e.inner-label(itemprop='name')= innerService.text
                                            else 
                                                +e.A.link(href="#{innerService.link_about}" itemprop='sameAs' content='#{innerService.link_about}' title='Подробнее')
                                                    +e.label(itemprop='name')= innerService.text
                                                    +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                        span(itemprop='price')= innerService.price
                            else    
                                +e.item(itemscope itemtype='http://schema.org/Service')
                                    if (service.link_modal)
                                        +e.A.link(href="#{service.link_modal}" data-target="#{service.link_modal}" data-service='#{service.text}' data-button='#{service.modal_button}' data-toggle='modal' title='Заказать')
                                            +e.label(itemprop='name')= service.text
                                            +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                span(itemprop='price')= service.price
                                    else 
                                        +e.A.link(href="#{service.link_about}" itemprop='sameAs' content='#{service.link_about}' title='Подробнее')
                                            +e.label(itemprop='name')= service.text
                                            +e.price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                                                span(itemprop='price')= service.price
    +promotions()